.product-item{
    border: 3px solid rgb(150, 25, 245);
    padding: 5px;
    margin: 5px;    
    width: 400px;
    height: 450px;
}

/* .product-img{
    width: 400px;
    height: 600px;
} */

.something{
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}